.brand {
  flex: 1 100%;
  text-align: center;
  order: 3;
  @media screen and (min-width: $bp2_3) {
    flex: 0 10%;
  }
}

.brand__logo {
  svg {
    @media screen and (min-width: $bp2_3) {
      width: 100%;
    }
  }
  @media screen and (min-width: $bp3) {}
}

.brand__name {
  font-size: 1.1em;
  letter-spacing: 1px;
  @media all and (max-width: 700px) {}
}

.brand__description {
  display: none;
}

@media all and (min-width: $bp2) {
    .fixed {
        .brand,
        .site-nav {
            position: fixed;
            z-index: 1000;
        }

        .menu {
            background-color: black;
            // @include transition(2s);
            // @include translateY(200px);

        }

        .brand {
            padding: $padding_base / 2 $padding_base;

            path {
                // fill: $color-alt;

            }
        }
    }
}
