.slider {
  input { display: none }
  max-width: 960px;
  margin-bottom: $padding_base;
  // -webkit-transform: translateZ(0);
  transition: all 0.5s ease-out;
  .slider__slides {
    overflow: hidden;
    .inner {
      width: 500%;
      line-height: 0;
    }
    article {
      width: 20%;
      float: left;
      img {
        width: 100%
      }
    }
  }
}

// Slider Nav
.slider__nav {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
  label {
    display: none;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
    &:hover { opacity: 0.8 }
  }
}
// Right Button
#slide1:checked ~ .slider__nav label:nth-child(2),
#slide2:checked ~ .slider__nav label:nth-child(3),
#slide3:checked ~ .slider__nav label:nth-child(4),
#slide4:checked ~ .slider__nav label:nth-child(5),
#slide5:checked ~ .slider__nav label:nth-child(1) {
  // background: url('http://0.s3.envato.com/files/84450220/img/next.png') no-repeat;
  float: right;
  margin-right: 0;
  display: block;
}
// Left Button
#slide1:checked ~ .slider__nav label:nth-child(5),
#slide2:checked ~ .slider__nav label:nth-child(1),
#slide3:checked ~ .slider__nav label:nth-child(2),
#slide4:checked ~ .slider__nav label:nth-child(3),
#slide5:checked ~ .slider__nav label:nth-child(4) {
  // background: url('http://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;
  float: left;
  margin-left: 0;
  display: none;
}

// Selected Dots
.slider__dots {
  position: relative;
  z-index: 5;
  margin: 16% 0 0;
  text-align: center;
  label {
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: $color-black-alpha;
    &:hover { background: $color-black; }
  }
}
#slide1:checked ~ .slider__dots label:nth-child(1),
#slide2:checked ~ .slider__dots label:nth-child(2),
#slide3:checked ~ .slider__dots label:nth-child(3),
#slide4:checked ~ .slider__dots label:nth-child(4),
#slide5:checked ~ .slider__dots label:nth-child(5) { background: $color-alt; }

// Slides
#slide1:checked ~ .slider__slides .inner { margin-left: 0 }
#slide2:checked ~ .slider__slides .inner { margin-left: -100% }
#slide3:checked ~ .slider__slides .inner { margin-left: -200% }
#slide4:checked ~ .slider__slides .inner { margin-left: -300% }
#slide5:checked ~ .slider__slides .inner { margin-left: -400% }

.slider__slides {
  position: relative;
  margin-top: $padding_base;
  .inner{
    -webkit-transform: translateZ(0);
    transition: all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
    transition-timing-function: cubic-bezier(0.770,0.000,0.175,1.000)
  }
}

#slide1:checked ~ .slider__slides article:nth-child(1) .caption,
#slide2:checked ~ .slider__slides article:nth-child(2) .caption,
#slide3:checked ~ .slider__slides article:nth-child(3) .caption,
#slide4:checked ~ .slider__slides article:nth-child(4) .caption,
#slide5:checked ~ .slider__slides article:nth-child(5) .caption {
  opacity: 1;
  transition: all 1s ease-out 0.6s
}
.slider__nav,
.slider__nav label,
.slider__slides,
.slider__dots,
.slider__dots label {
  transition: all 0.5s ease-out
}
// .caption {
//   line-height: 20px;
//   margin: 0 0 -150%;
//   position: absolute;
//   padding: 320px 12px;
//   opacity: 0;
//   color: #fff;
//   text-transform: none;
//   text-align: left;
//   font-size: 18px
// }
// .caption bar {
//   display: inline-block;
//   padding: 10px;
//   background: #000;
//   border-radius: 3px;
//   opacity: 0.7;
//   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70)
// }
