/*------------------------------------*\
  $WIDGETS
\*------------------------------------*/

.widget {
  margin-top: $padding_base / 2;
}

.widget-title {
  text-align: center;
  line-height: inherit;
}

.widget--social {
  svg {
    margin-right: $padding_base / 4;
  }
  a {
    display: flex;
    align-items: center;
    flex-basis: 170px;
    margin-bottom: $padding_base / 4;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.widget--share {
  display: flex;
  justify-content: center;
  svg {
    margin-right: $padding_base / 4;
  }
  a {
    &:last-child {}
    &:hover {}
  }
}
.widget--external-links {}
.widget--wp {}
.widget--posts {}
.widget--pages {}
.widget--tags {}
