/*------------------------------------*\
  $WIDGETS
\*------------------------------------*/

.widget {
  margin-top: $padding_base;
}

.widget-title {
  text-align: center;
  line-height: inherit;
}

.widget--social {
  display: flex;
  align-items: flex-start;
  .icon {
    margin-right: $padding_base / 4;
    fill: $color-base;
    stroke: $color-alt;
    stroke-width: 1px;
    .page & {
      &:hover {
        fill: none;
        stroke: $color-base;
        stroke-width: 1px;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    flex-basis: 170px;
    margin-bottom: $padding_base / 4;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: underline;
      .page & {
        .icon {
          fill: none;
          stroke: $color-base;
          stroke-width: 1px;
        }
      }
    }
  }
}

.widget--share {
  display: flex;
  justify-content: center;
  .icon {
    &:hover {
      fill: $color-alt;
      stroke: $color-base;
    }
  }
  a {
    margin-right: $padding_base / 4;
    &:last-child {
      margin-right: 0;
    }
    &:hover {}
  }
}
.widget--external-links {}
.widget--wp {}
.widget--posts {}
.widget--pages {}
.widget--tags {}
