.search-form {
  flex: 0 31%;
  text-align: right;
  position: absolute;
  top: $padding_base;
  right: $padding_base / 2;
  z-index: 5;
  fieldset {
    border-bottom: 1px solid $color-base;
    &:hover {
      border-bottom: 1px solid $color-alt;
    }
  }
  input {
    background-color: transparent;
    border-radius: 0;
    width: 70%;
    color: $color-alt;
  }
}

.input-client {
	flex: 1 50%;
}
.input-text {
  background-color: $site-main-bgcolor;
}
label {
	margin-right: 10px;
}
input {
	padding: 5px;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}
input[ type=number ] {
	width: 50px;
	text-align: center;
}

textarea {
  width: 100%;
  border: none;
	padding: 5px;
}
// $product
// [class*=product] {
//     &:hover {}
// }
