.search-form {
  // width: 200px;
  flex: 0 210px;
  // background-color: red;
  z-index: 1;
  order: 2;
  margin-top: $padding_base / 2;
  margin-bottom: $padding_base / 2;
  @media screen and (min-width: $bp2_3) {
    order: 4;
    margin-top: 0;
    margin-bottom: 0;
    flex: 0 31%;
    text-align: right;
    position: absolute;
    top: $padding_base;
    right: $padding_base / 2;
  }
  &__fieldset {
    display: flex;
    justify-content: flex-end;
  }
  input {
    max-width: 150px;
    background-color: transparent;
    border-radius: 0;
    flex-basis: 90%;
    text-align: center;
    color: $color-alt;
    margin: 0;
    border-bottom: 1px solid darken($color-base, 10);
    @media screen and (min-width: $bp2_3) {
      border-bottom: 1px solid $color-base;
      flex-basis: 75%;
      &:hover {
        border-bottom: 1px solid $color-alt;
      }
    }
  }
  button {
    flex-basis: 10%;
    @media screen and (min-width: $bp2_3) {
      flex-basis: 25%;
    }
  }
}
// Submit buttons all
input[type="submit"] {
  width: inherit;
  padding: ($padding_base / 4) ($padding_base / 3);
  color: $color-alt;
  background-color: $bgcolor-fields;;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}
label {
	margin-right: 10px;
}
input {
  width: 100%;
	padding: $padding-fields;
  line-height: 1;
  color: $color-fields;
  background-color: $bgcolor-fields;
  &:focus {
    outline: none;
  }
}
input[ type=number ] {
	width: 50px;
	text-align: center;
}

textarea {
  width: 100%;
  border: none;
	padding: 5px;
  color: $color-fields;
  background-color: $bgcolor-fields;
}
// $product
// [class*=product] {
//     &:hover {}
// }
