// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Aplica sólo cuando no sea la home y sea una página
body {
  &:not(.home) {
    &.page {
      > header {
        .icon--logo { fill: $color-base; }
        .icon--toggle {
          stroke: $color-base;
        }
        .search-form { display: none; }
      }
      > header,
      > main {
        background-color: $color-alt;
        color: $color-base;
        a {
          color: $color-base;
        }
      }
      > footer {
        background-color: $color-base;
        color: $color-alt;
        a { color: $color-alt; }
        .icon--cc { fill: $color-alt; }
      }
    }
    &.page-template-page-contacto,
    &.page-template-page-newsletter {
      > .site-main {
        @media screen and (min-width: 1150px) {
          padding-left: $padding_base * 5;
          padding-right: $padding_base * 5;
          padding-bottom: $padding_base * 3;
          h1 {
            padding-bottom: $padding_base * 1.5;
          }
        }
      }
    }
  }
}

// Custom Contact Form 7
.fields-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $padding_base / 1.5;
  div {
    display: flex;
    flex-direction: column;
    flex: 1 260px;
  }
  div:last-child {
    margin-left: $padding_base;
  }
  label {
    padding-bottom: 5px;
  }
}

// .aligncenter {
//     @extend %display-block;
// }
//
// .alignleft,
// .alignright {
//     margin-bottom: $padding_base / 2;
// }
//
// figure.alignnone {
//     margin-left: 0;
//     margin-right: 0;
//     max-width: 100%;
// }
//
// .wp-caption {
//     float: left;
//     max-width: 100%;
// }
//
// // Edit link
// .post-edit-link {}
//
// // Gallery shortcode
// .gallery-row {
//     padding: $padding_base / 2 0;
// }
//
// @media (min-width: $bp3) {
//     // Only float images if not on an extra small device like smartphones
//     .alignleft {
//         float: left;
//         margin-right: $padding_base / 2;
//     }
//
//     .alignright {
//         float: right;
//         margin-left: $padding_base / 2;
//     }
// }
