.icon {
  width: 30px;
  height: 30px;
  fill: $color-alt;
  &--lupa {
    stroke: $color-alt;
    stroke-width: 1px;
    // width: 100%;
  }
  &--close {
    z-index: 1000;
    fill: $color-base;
    position: fixed;
  }
  &--toggle {
    margin-right: 0;
    path {
      stroke-width: 1px;
    }
  }
  &--facebook { }
  &--logo {
    width: 150px;
    height: 75px;
  }
  &--logo2 {
    width: 249px;
    height: 72px;
    fill: $color-base;
  }
  // Maña Ind
  &--logo3 {
    width: 314px;
    height: 49px;
    fill: $color-base;
  }
  &--logo4 {
    width: 150px;
    height: auto;
  }
  &--logo5 {
    width: auto;
    height: 200px;
  }
  &--logo6 {
    width: 150px;
    height: auto;
  }
  &--logo7 {
    width: 50px;
    height: 10px;
    fill: $color-base;
  }
  &--arrow-left {
    width: 150px;
    height: 75px;
    stroke: $color-alt;
  }
  &--arrow-right {
    width: 150px;
    height: 75px;
    stroke: $color-alt;
    stroke-width: 1px;
    &:hover {
      stroke-width: 5px;
    }
  }
}
