// Footer principal
.main-footer {
  flex-basis: 100%;
  color: $color-base;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: $color-alt;
  min-height: 90px;

  @media screen and (max-width: $bp3) {}

  img[src$=".svg"] {
      @media screen and (max-width: $bp3) {}
  }

  a {
    color: $color-base;
    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__credits {
    @include font-size(13);
    display: flex;
    align-items: center;
    svg {
      margin-right: $padding_base / 4;
    }
  }
}

.main-footer__title {
  margin-top: 0;
}

// Navegacion footer
.main-footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $color-alt;
  margin-left: $padding_base / 2;
  margin-right: $padding_base / 2;
  li {
    @include font-size(13);
    margin-left: $padding_base / 4;
    margin-right: $padding_base / 4;
  }
}
.main-footer__brand {}
.main-footer__social {}
.main-footer__brand__name {}
.main-footer__adicional {}
.main-footer__searchform {}
