header {}

.site-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1 100%;
  justify-content: center;
  align-content: center;
  padding-top: $padding_base / 2;
  padding-bottom: $padding_base / 2;
  color: $color-white;
  a {
    color: $color-base;
  }
  label {
    margin-right: 0;
  }
  @media screen and (min-width: 1344px) {}
}
