header {}
.site-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  color: $color-white;
  a { color: $color-base; }
  label { margin-right: 0; }
  @media screen and (min-width: $bp2_3) {
    position: relative;
    flex: 1 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: $padding_base / 2;
    // padding-bottom: $padding_base / 2;
    flex-direction: row;
  }
}
